@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

body{
    margin: 0px;
    background-color: #5fc1e7de;
    color: white
}
/*changed to get rid of button effects*/
button{
    border: none;
    background-color: transparent;
    color: inherit;
}
/* new wanted button to change color and cursor to hover*/
button:hover{
    color:#f5f5f5c0;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5c0 ;

}

/*adjusted hover color and font color*/
a, a:visited, a:active {
    color: inherit;
  }

  a:hover{
    color:#f5f5f5c0;
  }
#webpage-container{
    height: 100%
}
#navbar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 5px;
    height: 5vh;
}
.nav-element{
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    
}
#profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin-bottom: 5vh;
}
#title{
    font-size: 6.5rem;
    font-weight: 700;
    margin:10px;
    font-family: 'Bebas Neue';
}
#title-socials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin:5vh;
    height: 90vh;
}
#descriptors{
    margin:30px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

#socials-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.socials {
    list-style-type: none;
    font-size: 3rem;
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: white;
}

/*next page*/
#about {
    display: flex;
    height: 100%;
    background: rgb(236, 236, 236);
    color: black
}

#about-information{
    display: flex;
    flex-direction: column;
    margin:100px;
    margin-top: 50px;
    width: 40%;
}

#about-title{
    font-size: 2.5rem;
}

#about-statement{
    font-size: 1.5rem;

}

#about-languages{
    display: flex;
    flex-direction: column;
    margin:100px;
    width: 40%;
}

#about-language-title{
    font-size: 2.5rem;
    border-bottom: black solid 2px;
}

#about-language-icons{
    margin: 0px;
    font-size: 4rem;

}

.language-container{
    max-width: 102px;
    max-height: 102px;
}

.language-icons{
    font-size:1rem;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 0px;
    border:2px solid black;
    border-radius: 15px;
}


#about-pic {
    margin:100px;
    height: 70%;
    width: 28%;
}


/*===============================================*/
#projects {
    height: 100%;
    background-color: #5fc1e7de;
    border-top: 1px solid rgba(37, 37, 37,0.5);
    border-bottom: 1px solid rgba(37, 37, 37,0.5);
}

#project-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue';
}

#project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-upper{
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-lower{
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 17rem;
    margin: 5%;
    margin-top: 0px;
    border-radius: 10px;
}

.project-image{
    width: 515px;
    height: 275px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;

}

.top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 515px;
    height: 275px;
    background: rgba(0,0,0,0.7);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .show {
    margin-top: 1em;
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }
  .project-body{
    max-width: 90%;
  }

  .project-github {
    list-style-type: none;
    font-size: 2rem;
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: white;

}

#contacts-page {
    height: 35%;
    width: 100vw;
    color: black;
    background: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

#contacts-header{
    margin-top: 1em;
    font-size: 35px;
}

#contacts-body{
    font-size: 15px;
}

#email{
    font-size: 25px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(236, 236, 236);
    height: 15%;
    width: 100vw;
    font-family: 'Bebas Neue';
    font-size: 25px;
    font-weight: 700;
    color: #5fc1e7de;
}






/*=================MOBILE STYLING=================*/

@media (max-width: 1300px){
    
    #navbar{
        justify-content: center;
    }
    #profile-pic {
        height: 13.5rem;
        width: 13.5rem;
        margin-bottom: 0.5vh;
    }
    #title-socials-container{
        justify-content: center;
        margin:0vh;
        width:100vw;
        height: 95vh;
    }
    #title{
        font-size: 4.8rem;
        margin:10px;
        font-family: 'Bebas Neue';
        text-align:center;
    }

    #descriptors{
        margin:30px;
        font-size: 1.5rem;
        text-align: center;
    }
    
    
    #socials-container {
        flex-wrap: center;
    }

    .socials {
        list-style-type: none;
        font-size: 2.5rem;
        padding: 15px;
        margin: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: white;
    }
    #about {
        margin: 0px;
        height: 100%;
    }
    #about-title{
        margin-top: 0.3em;
        font-size: 2.5rem;
    }
    #about-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: 0px;
        margin-top: 20px;
        text-align: center;     
    }
    #about-statement {
        font-size: 1.5rem;
        margin: 5px;
        margin-bottom: 0.2em;
    }
    .language-icons{
        font-size:1rem;
        width: 80px;
        height: 80px;
        margin: 0px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0px;
        border:2px solid black;
        border-radius: 15px;
    }

    #project-header{

        font-size: 3.5rem;
        margin: 0.4rem;
        padding:0px
    }

    .project-item{
        width: 280px;
        height: 170px;

    }
    .project-image{
        width: 280px;
        height: 170px;
    }
    .project-upper{
        display: inherit;
        flex-direction: row;
    }
    
    .project-lower{
        display: inherit;
        flex-direction: row;
    }
    .top {
        width: 280px;
        height: 170px;
      }
    .show {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 22px;
        }

      .project-body{
        font-size: 12px;
      }
      #contacts-page {
        height: 35%;
        width: 100vw;
        color: black;
        background: rgb(236, 236, 236);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    
    }

      #contacts-header{
          margin-top: 0.1rem;
          text-align: center;
    }
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(236, 236, 236);
        height: 15%;
        width: 100vw;
        font-family: 'Bebas Neue';
        font-size: 25px;
        font-weight: 700;
        color: #5fc1e7de;
    }
    #email {
        text-align: center;
    }

}
@media (max-width: 640px){
    .project-item{
        width: 280px;
        height: 170px;

    }
    .project-image{
        width: 280px;
        height: 170px;
    }
    .project-upper{
        display: inherit;
        flex-direction: column;
    }
    
    .project-lower{
        display: inherit;
        flex-direction: column;
    }
    .top {
        width: 280px;
        height: 170px;
      }
    .show {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 22px;
        }

      .project-body{
        font-size: 12px;
      }
}


